
C\#/.vs/True_or_False/v17/.suo
C\#/True_or_False/bin/Debug/True_or_False.exe
*.cache
*.exe
C\#/True_or_False/obj/
*.pdb
C\#/True_or_False/bin/Debug/True_or_False.exe.config
C\#/.vs/True_or_False/v17/.suo
C\#/.vs/
